#app {
  & div {
    justify-content: center;
  }
  & > fieldset {
    margin-bottom: 1rem;
    border-bottom: none;
    & > legend {
      font-weight: bold;
      font-size: 1.2em;
    }
    & > div {
      display: flex;
    }
  }
}
