* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  --psytask: 0; /* for psytask css detection */

  background-color: gray;
  color: white;
}
.psytask-scene {
  position: fixed;
  top: 0;
  left: 0;

  width: 100dvw;
  height: 100dvh;

  overflow: hidden;
  will-change: transform;
}
.psytask-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100dvh;
}
