.psytask-app {
  --psytask: 1; /* only for psytask css detection */
  all: unset;
  user-select: none;

  & > div {
    all: unset;

    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    overflow: hidden;
    will-change: transform;
  }
}
