#app {
  padding: 1rem;

  & details {
    padding: 0.5rem 0;
    border-radius: 6px;
    & > div {
      margin-top: 0.5rem;
      &:has(> div > section) {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 0 0.75rem;
      }
    }
  }

  & summary,
  section {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    text-wrap: balance;
  }
  & summary {
    cursor: pointer;
    font-weight: bold;
  }
  & span {
    white-space: pre;
  }

  & button {
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    width: 2rem;
    aspect-ratio: 1;
    flex-shrink: 0;
    &:active {
      transform: scale(0.8);
    }
  }

  & [data-test] {
    padding-left: 0.75rem;
    border-radius: 6px;
    border-left: 5px solid;
  }
  & [data-test='passed'] {
    border-color: #4caf50;
  }
  & [data-test='failed'] {
    border-color: #f44336;
  }
  & [data-test='running'] {
    border-color: #ffeb3b;
  }
  & [data-test='pending'] {
    border-color: gray;
  }
}
